<h3>mini-talk-app</h3>
<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>
<%= form_with model: @message do |f| %>
  <%= f.text_field :text %>
  <%= f.submit '送信' %>
<% end %>
<div id='messages'>
  <% @messages.reverse_each do |message| %>
    <p><%= message.text %></p>
  <% end %>
</div>
